[submodule "themes/uBlogger"]
	path = themes/uBlogger
	url = https://github.com/uPagge/uBlogger.git
[submodule "content/legal"]
	path = content/legal
	url = git@github.com:markcheret/legal.git
[submodule ".github/workflows"]
	path = .github/workflows
	url = git@github.com:markcheret/workflows.git
