// ==============================
// Custom style
// ==============================

h1 {
  color: $global-secondary-color;
}

h2 {
  color: $global-secondary-color-dark;
}

hr {
    margin: 1rem 0;
    position: relative;
    border-top: 1px solid $global-border-color;
    border-bottom: none;

    [theme=dark] & {
      border-top: 1px solid $global-border-color-dark;
    }
}

.home {
    .home-profile {
      .home-avatar {
        img {
          [theme=dark] & {
            box-shadow: (0 0 0 .1em $global-background-secondary-color-dark);
          }
        }
      }
    }
  }

  .footer-post-author {
    color: $global-font-color;
    border-radius: 7px;
    border-bottom: solid 2px #161209;
  
    [theme=dark] & {
      color: $global-font-color-dark;
      background-color: $global-background-secondary-color-dark;
      border: solid 1px $global-secondary-color-dark;
    }
  }

  @media only screen and (min-width: 1201px) {
    .page, .content-block-position {
      width: 100%;
    }
  
    article.single {
      font-size: 18px;
  
      .post {
        padding: 40px 60px 40px;
      }
  
    }
  }

  .post-share {
    max-width: 900px;
    width: 100%;
    min-width: 200px;
    text-align: center;
  }

  blockquote p {
    font-size: 20px;
    width: 100%;
    display: block;
    text-transform: none;
    border-left: .3rem solid $blockquote-color;
    background-color: rgba($blockquote-color, .2);
    padding: .25rem .75rem;
    margin: 1rem 0;

    [theme=dark] & {
      border-left-color: $blockquote-color-dark;
      background-color: rgba($blockquote-color-dark, .2);
    }
  }

  .home[data-home=posts] {
    .summary {
      padding-top: 0;
      padding-bottom: 1rem;
      margin-bottom: 6rem;
      border: 2px solid $global-border-color;
      background: $global-background-color;
      border-radius: $article-border-radius;
  
      [theme=dark] & {
        border: 2px solid $global-border-color-dark;
        background: $global-background-secondary-color-dark;
      }
  
      &:hover {
        cursor: pointer;
      }
  
      .featured-image-preview {
        margin: 0 auto;
  
        &:hover {
          transform: none;
        }
      }
  
    }
  }