// ==============================
// Override Variables
// ==============================

$global-background-color-dark: #282c35;
$header-background-color: #ececec;
$global-font-color-dark: #DDD;


$global-font-family: Allerta Stencil, system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$global-background-color-dark: #15181d !default;
$global-background-secondary-color-dark: #15181d;
$global-secondary-color: #8cc643;
$global-secondary-color-dark: #2d96bd;
$global-font-color-dark: #8cc643 !default;
$global-link-color-dark: #dddddd !default;
$global-border-color: #5687cc !default;
$header-background-color-dark: #15181d !default;
$single-link-hover-color: #8cc643 !default;